<%= content_for :head do %>
  <link href="http://www.apps123.cn/templets/apps123/css/layout2013.css" rel="stylesheet" media="screen" type="text/css" />
  <style>
    .case-detail-pic{
      width: 90px;
      height: 90px;
    }
    #c_img{
      width: 90px;
      height: 90px;
    }
  </style>

<% end %>
<div id="portfolio">
  <div class="container">
    <div class="section_header">
        <h3><%= @product_item.title %></h3>
        <a href="/product_cates/1" class="btn btn-inverse search-query pull-right">返回项目案例</a>
    </div>
    <div class="row">
        <div class="span12">
            <div id="filters_container">
              <p>
                <%= raw @product_item.content %>
              </p>
            </div>
        </div>
    </div>
  </div>
</div>
