
<div id="features" class="features_page">
  <div class="container">
      <!-- Feature Wrapper -->
      <div class="feature_wrapper option1">
          <div class="div_header">
              <h3>功能展示</h3>
          </div>

          <div class="row subtitle">
             <div class="span3" >
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="#nav1"><i class="icon-chevron-right"></i>美容美发行业</a></li>
                    <li class=""><a href="#nav2"><i class="icon-chevron-right"></i>婚纱摄影行业</a></li>
                    <li class=""><a href="#nav3"><i class="icon-chevron-right"></i>汽车4S店</a></li>
                    <li class=""><a href="#nav1"><i class="icon-chevron-right"></i>教育培训机构</a></li>
                    <li class=""><a href="#nav4"><i class="icon-chevron-right"></i>律师、税务咨询机构</a></li>
                    <li class=""><a href="#nav5"><i class="icon-chevron-right"></i>餐饮行业</a></li>

                </ul>
             </div>
             <div class="span9">
                <div id="nav1">
                   <br><br><hr><h2>公司介绍</h2>
                   <div class="content">
                        小贴士：
                   </div> 
                </div>
                <div id="nav2">
                   <br><br><hr><h2>信息列表（不分类）</h2>
                   <div class="content">
                        小贴士：
                   </div> 
                </div>
                <div id="nav3">
                   <br><br><hr><h2>信息列表（二级分类）</h2>
                   <div class="content">
                        小贴士：
                   </div> 
                </div>
                <div id="nav4">
                   <br><br><hr><h2>图片集（不分类）</h2>
                   <div class="content">
                        小贴士：
                   </div> 
                </div>
                <div id="nav5">
                   <br><br><hr><h2>图片集（二级分类）</h2>
                   <div class="content">
                        小贴士：
                   </div> 
                </div>
             </div>
          </div>
      </div>
  </div>
</div>