<div class="features_page" id="features">
  <div class="container"><!-- Feature Wrapper -->
    <div class="feature_wrapper option1">
      <div class="section_header">
        <h3>经销加盟政策</h3>
      </div>

      <div class="row feature">
        <div class="span4"><img src="/assets/showcase1.png" /></div>

        <div class="span8 info">
          <h3><img src="/assets/features-ico1.png" /> Beautiful on all devices</h3>

          <p><strong>移动互联网市场前景</strong></p>

          <p>　　据<strong>《2012中国手机应用市场年度报告》</strong>显示，截至2012年12月底，中国手机网民已达4.5亿人，其中智能手机用户达到3.8亿人，占84%；报告显示，中国互联网网民数已达到5.6亿人，其中手机网民占比超80%，正与互联网网民数趋近，中国互联网从PC平台延伸至手机这一便携、移动、随身平台的趋势已势不可挡。<br />
          　　人们用在移动互联网的时间已经越来越多，而移动互联网又跟APP有关，移动互联网的发展必将推动App的大规模普及。<br />
          &nbsp;</p>

          <p><strong>诚招代理</strong></p>

          <p>&ldquo;瑞信云&rdquo;是国内领先的企业移动应用开发服务平台，旨在帮助企业能简单、快速、廉价、高效地建设自己满意的移动营销及宣传平台，轻松涉足移动互联网，把握未来。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;瑞信云】(rxy123.cn)移动应用服务平台正处于高速发展阶段，凭借【瑞信云】(rxy123.cn)的产品优势，我们将致力于打造 &ldquo;App自助服务第一品牌&rdquo;，以优秀的产品、敏锐的市场触觉、完善的服务体系与各大代理商伙伴携手前进、共同发展，抢占移动互联网市场先机! 移动互联网时代已经来临，洞悉商机创造无限可能，万亿市场&ldquo;瑞信云&rdquo;与您同行。&ldquo;瑞信云&rdquo;诚邀有识之士共同创业，让您轻松开启财富之旅，共进财富大餐。</p>
        </div>
      </div>
    </div>
  </div>
</div>
