<%= content_for(:head) do %>
  <%= stylesheet_link_tag "theme/features" %>
<% end %>

<div id="features" class="features_page">
  <div class="container">
      <!-- Feature Wrapper -->
      <div class="feature_wrapper option1">
          <div class="section_header">
              <h3>成功案例</h3>
          </div>

          <div class="row subtitle">
              <h2>
                 ........
              </h2>
  
          </div>
      </div>
  </div>
</div>