<div class="features_page" id="features">
  <div class="container"><!-- Feature Wrapper -->
    <div class="feature_wrapper option2">
      <div class="section_header">
        <h3>成功案例</h3>
      </div>
      <!-- Features Row -->
      <div class="row-fluid">
        <div class="span2 bs-docs-sidebar"  data-spy="affix" data-offset-top="40">
          <ul class="nav nav-list bs-docs-sidenav">
            <li><a href="#nav1"><i class="icon-chevron-right"></i>公司介绍</a></li>
            <li><a href="#nav2"><i class="icon-chevron-right"></i>信息列表（不分类）</a></li>
            <li><a href="#nav3">信息列表（二级分类）</a></li>
            <li><a href="#nav4">图片集（不分类）</a></li>
            <li><a href="#nav5">图片集（二级分类）</a></li>
            <li><a href="#nav6">视频集</a></li>
            <li><a href="#nav7">优惠券</a></li>
            <li><a href="#nav8">LBS优惠券</a></li>
            <li><a href="#nav9">预约表格</a></li>
            <li><a href="#nav10">意见反馈</a></li>
            <li><a href="#nav11">通讯录</a></li>
            <li><a href="#nav12">门店查询</a></li>
            <li><a href="#nav13">信息推送</a></li>
            <li><a href="#nav14">嵌入网站</a></li>
            <li><a href="#nav15">在线客服</a></li>
            <li><a href="#nav16">自定义表格</a></li>
          </ul>
        </div>

        <div class="span10">
          <div class="row"><!-- Feature -->
            <div class="span6 feature">
              <div class="box">
                <img class="one" src="http://www.apps123.cn/uploads/moban/moban2/qiuyiwenzhen.png" />
              </div>
              <div class="text">
                <h6>模板二: 求医问诊</h6>

                <p><span style="line-height:1.6em">There are many variations of passages of generators on the embarrassing hidden in randomised words which don&#39;t look even by these distribution of letters, as opposed to using content here, content here making.</span></p>
              </div>
            </div>
            <!-- Feature -->

            <div class="span6 feature right">
              <div class="box">
                <img class="two" src="http://www.apps123.cn/uploads/moban/moban6/huangshanyunhaijiujia.png" />
              </div>

              <div class="text">
                <h6>Desktop publishing packages</h6>

                <p>There are many variations of passages of generators on the embarrassing hidden in randomised words which don&#39;t look even by these distribution of letters, as opposed to using content here, content here making.</p>
              </div>
            </div>
            <!-- Feature -->
          </div><!-- end row -->
        </div><!-- end span10 -->
    </div>
  </div>
</div>

