<div class="features_page" id="features">
<div class="container"><!-- Feature Wrapper -->
<div class="feature_wrapper option1">

<div class="row subtitle">
  <div class="span2 bs-docs-sidebar affix"  data-spy="affix" data-offset-top="40">
    <ul class="nav nav-list bs-docs-sidenav">
  <li class="active"><a href="#nav1">美容美发行业</a></li>
  <li><a href="#nav2">婚纱摄影行业</a></li>
  <li><a href="#nav3">汽车4S店</a></li>
  <li><a href="#nav1">教育培训机构</a></li>
  <li><a href="#nav4">律师、税务咨询机构</a></li>
  <li><a href="#nav5">餐饮行业</a></li>
    </ul>
  </div>

<div class="span10" >
<div id="nav1">
<hr />
<h2>美容美发行业APP解决方案</h2>

<div class="content">
<div class="solu-info" >
<div class="solu-brief-info">
<p>　　美容美发行业是一个时尚消费行业，越来越多的连锁巨头通过APP应用向客户提供个性化服务，包含对VIP、会员提供最新发型的选择、自拍试型、手机预约等。</p>
</div>

<div class="solu-tab" ><img alt="美容美发行业APP解决方案"  src="http://www.apps123.cn/templets/apps123/images/solu-pic-01-tab.jpg"  /></div>
</div>

<div class="solu-case" >
<h3>美容美发行业APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="https://itunes.apple.com/cn/app/ba-qu-fa-lang/id526273498?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/ba.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/ba-qu-fa-lang/id526273498?mt=8"  target="_blank">芭曲发型</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/shou-nao-mei-rong-mei-fa/id469384830?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.qetkpanp.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/shou-nao-mei-rong-mei-fa/id469384830?mt=8"  target="_blank">首脑美容美发</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/bhg-salon/id464268742?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.hvwrerim.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/bhg-salon/id464268742?mt=8"  target="_blank">BHG Salon</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/fu-jun-jian-yi/id449581666?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.jeyylezo.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/fu-jun-jian-yi/id449581666?mt=8"  target="_blank">付军发廊</a></p>
</div>
</div>
</div>
</div>
</div>

<div id="nav2">
<div class="content">
<div class="solu-info" >

<hr />
<h2>婚纱摄影行业APP解决方案</h2>

<div class="solu-brief-info" >
<p>　　看看交友网站、征 &nbsp; &nbsp;婚节目有多火，你就知道婚纱摄影行业市场多么大了。 但摄影技术发展到今天已经非常成熟，产品同质化现象严重，市场竞争激烈，影楼的竞争主要是产品、服务、管理的竞争。<br />
<br />
　　那么，如何才能在 &nbsp; &nbsp;竞争如此激烈的市场中脱颖而出？APP手机应用能帮助各大婚纱影楼更早一步、更进一步的接触现在的80后、90后适婚青年，通过在线客服、自拍试衣、在线选景、在线预约、在线选片、在线选摄影师等一系列功能，展开移动营销。</p>
</div>

<div class="solu-tab" ><img alt="婚纱摄影行业APP解决方案"  src="http://www.apps123.cn/templets/apps123/images/solu-pic-02-tab.jpg"  /></div>
</div>

<div class="solu-case" >&nbsp;
<h3>婚纱摄影行业APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/oudianhunsha.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/oudian.png"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/oudianhunsha.html"  target="_blank">欧典婚纱</a></p>
</div>

<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/maliyahushasheying.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/20120719054617796.jpg"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/maliyahushasheying.html"  target="_blank">玛利亚婚纱摄影</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/tai-bei-li-she/id453931624?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.itviicml.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/tai-bei-li-she/id453931624?mt=8"  target="_blank">台北丽舍</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/hun-bo-hui/id535063137?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/hunbo.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/hun-bo-hui/id535063137?mt=8"  target="_blank">婚博会</a></p>
</div>
</div>
</div>
</div>
</div>

<div id="nav3">
<hr />
<h2>汽车4S店APP解决方案</h2>

<div class="content">
<div class="solu-info" >
<div class="solu-brief-info" >
<p>　　汽车行业的竞争日益激烈，汽车4S店的销售工作更具创新，单靠利用传统媒体进行的传统营销方式已不适合汽车品牌林立、产品同质化程度高的市场，如何通过新的营销方式促进销售是很多汽车4S店关心的问题。<br />
<br />
　　在移动互联网发展时代，用户的大部分碎片时间都使用手机获取资讯，APP手机应用对于汽车4S店来说将是一场销售的革命。通过开发在线咨询、在线看车、在线预约试驾、最新优惠、在线预约保养等一系列的功能开发，使4S店能在碎片化时间通过APP营销与客户建立亲密联系，与潜在客户进行亲密互动，是更有创新性的营销方式，可以很好实现信息的有效传播。</p>
</div>

<div class="solu-tab" ><img alt="汽车4S店APP解决方案" src="http://www.apps123.cn/templets/apps123/images/solu-pic-03-tab.jpg"  /></div>
</div>

<div class="solu-case" >&nbsp;
<h3>汽车4S店APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/baoyanqiche.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/20120906053914499.png"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/baoyanqiche.html"  target="_blank">宝宴汽车</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/jeep-zhong-jin-bai-wang/id508321282?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/RTOgDjNkz5S9wbtqDuvI0g-temp-upload.vjyrtblj.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/jeep-zhong-jin-bai-wang/id508321282?mt=8"  target="_blank">Jeep中进百旺</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/guang-bao-feng-tian-guang/id494821477?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/toyota.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/guang-bao-feng-tian-guang/id494821477?mt=8"  target="_blank">广保丰田</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/zhi-pao/id397359916?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.mohqgvbg.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/zhi-pao/id397359916?mt=8"  target="_blank">智跑</a></p>
</div>
</div>
</div>
</div>
</div>

<div id="nav4">
<hr />
<h2>教育培训机构APP解决方案</h2>

<div class="solu-info" >
<div class="solu-brief-info" >
<p>　　随着经济发展带动的社会转型和人才竞争，培训行业的兴起和发展是社会进步的必然，但行业的高速发展，也造成了近几年培训界的市场竞争极为激烈。<br />
<br />
　　通过APP手机应用，教育培训机构可把线下培训和手机移动学习做有益的整合。传统的学习模式是以下线培训为主，APP手机应用使培训，再也不是听课一种单一的模式了。我们可开发在线交流、试听申请、预约上课、线上课件、课程介绍、讲师介绍、最新优惠等一系列功能，使教育培训机构能与学员建立亲密联系，与潜在客户进行亲密互动，是更有创新性的营销方式，可以很好实现信息的有效传播。 学员通过APP手机应用，可以随时随地将零星的时间用来学习，坐公交，乘地铁，购物也好，吃饭也行，只要你想学习，通过APP能轻松实现随时随地学习、交流的愿望。</p>
</div>

<div class="solu-tab" ><img alt="教育培训机构APP解决方案" src="http://www.apps123.cn/templets/apps123/images/solu-pic-04-tab.jpg"  /></div>
</div>

<div class="solu-case" >&nbsp;
<h3>教育培训机构APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/ailisi.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/20120503064045075.png"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/ailisi.html"  target="_blank">爱丽丝英语培训</a></p>
</div>

<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/guangdongbowenxuexiao.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/20120906023114878.png"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/guangdongbowenxuexiao.html"  target="_blank">广东博文学校</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/hua-er-jie-ying-yu/id545954790?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.mzpmxtiq.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/hua-er-jie-ying-yu/id545954790?mt=8"  target="_blank">华尔街英语</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/qing-hua-jing-guan-pei-xun/id468016022?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.awtxtbzs.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/qing-hua-jing-guan-pei-xun/id468016022?mt=8"  target="_blank">清华经管培训</a></p>
</div>
</div>
</div>
</div>

<div id="nav5">
<hr />
<h2>律师、税务咨询APP解决方案</h2>

<div class="solu-info" >
<div class="solu-brief-info" >
<p>　　客户对法律咨询的时效非常看重，如何把从百度、分类网站、门户网站吸引到的案源转换成自己的客户或潜在客户呢？如何累计、维护客户，如何为客户提供高质量服务是律师的重要工作。<br />
<br />
　　随着移动互联网的到来，APP手机应用可以为你实现一切。通过APP手机应用，客户可以随时随地进行在线咨询、查看法律问题、法律文件、了解律师信息、了解案件进展。<br />
<br />
　　APP手机应用为律师提供了专属的&ldquo;移动办公桌&rdquo;，在世界上任何一个有网络的地方都能实时在线办公，轻松管理客户信息、法律文件、案情记录并统计费用。</p>
</div>

<div class="solu-tab" ><img alt="律师、税务咨询APP解决方案"  src="http://www.apps123.cn/templets/apps123/images/solu-pic-05-tab.jpg"  /></div>
</div>

<div class="solu-case" >&nbsp;
<h3>律师、税务咨询APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="https://itunes.apple.com/cn/app/shen-zhen-lu-shi-zi-xun/id541316801?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.tfsgakyq.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/shen-zhen-lu-shi-zi-xun/id541316801?mt=8"  target="_blank">深圳律师咨询</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/zhang-shang-wen-zhou-lu-shi/id544687674?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/wenzhou.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/zhang-shang-wen-zhou-lu-shi/id544687674?mt=8"  target="_blank">温州律师</a></p>
</div>
</div>
</div>
</div>

<div id="nav6">
<hr />
<h2>餐饮行业APP解决方案</h2>

<div class="solu-info" >
<div class="solu-brief-info" >
<p>　　团购虽然为带来了人气，但越卖越亏，能成为常客的更是寥寥无几，团购带来的客流暴增严重影响服务品质，对老顾客的忠诚度也产生了负面影响；美食点评推荐类的平台投入的资金不菲，但是客户资源并不由餐厅掌握，餐厅无法通过平台为顾客提供个性化服务，那怎样的营销方式才适合餐厅呢？<br />
<br />
　　随着移动互联网的来了，通过餐厅APP手机应用可实现手机点餐、签到优惠、电子会员卡、导航到店、信息推送、一键呼叫、手机订位、分享等互动功能。APP是积累自己的客户资源，有效提升餐厅的市场营销和推广工作的有效工具。</p>
</div>

<div class="solu-tab" ><img alt="餐饮行业APP解决方案" src="http://www.apps123.cn/templets/apps123/images/solu-pic-06-tab.jpg"  /></div>
</div>

<div class="solu-case" >&nbsp;
<h3>餐饮行业APP案例展示</h3>

<div class="solu-case-icon clear" >
<div ><a href="http://www.apps123.cn/apps123/cgal/qyal/sanrenxingfaguoxicanting.html"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/20120323011116060.jpg"  /></a>

<p><a href="http://www.apps123.cn/apps123/cgal/qyal/sanrenxingfaguoxicanting.html"  target="_blank">三人行法国西餐厅</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/deng-yi-deng-xiang-guo/id544161138?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/dydxg.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/deng-yi-deng-xiang-guo/id544161138?mt=8"  target="_blank">等一等香锅</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/jia-he-yi-pin/id549458737?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/mzl.kotboprg.175x175-75.jpg"  /></a>

<p><a href="https://itunes.apple.com/cn/app/jia-he-yi-pin/id549458737?mt=8"  target="_blank">嘉和一品</a></p>
</div>

<div ><a href="https://itunes.apple.com/cn/app/yi-sheng-ju-le-bu/id557449961?mt=8"  target="_blank"><img style="width:175px; height: 175px;" src="http://www.apps123.cn/templets/apps123/images/solution/Essential%20Club.png"  /></a>

<p><a href="https://itunes.apple.com/cn/app/yi-sheng-ju-le-bu/id557449961?mt=8"  target="_blank">益生俱乐部</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
