<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row sections">
            <div class="span4 recent_posts">
                <h3 class="footer_header">
                    最新博文
                </h3>
                <% Post.recent(2).each do |post| %>
                    <div class="post">
                        <%= link_to image_tag(post.image_url, width: '60px', height: '60px', class: 'img-circle'), "/blogpost?id=#{post.id}", target: '_blank' %>
                        <div class="date">
                           <%= post.updated_at.to_s(:db) %>
                        </div>
                        <%= link_to post.title.to_s.truncate(20), "/blogpost/{post.id}", class: 'title' %>
                    </div>
                <% end %>
            </div>
            <div class="span4 testimonials">
                <h3 class="footer_header">
                    企业反馈
                </h3>
                <div class="wrapper">
                    <div class="quote">
                        <span>“</span>
                        瑞信云为企业提供完整的移动应用开发和管理集成。建设APP从未如此简单；
                        一次建设，即可生成基于苹果、安卓、HTML5 Web APP手机应用和强大的管理后台。

                        <span></span>
                    </div>
                    <div class="author">
                        <img src="/assets/user-display.png" />
                        <div class="name">瑞信云科技总裁</div>
                        <div class="info">
                            彭承
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 contact">
                <h3 class="footer_header">
                    联系我们
                </h3>
                <% @comment ||= Comment.new %>
                <%= simple_form_for(@comment) do |f| %>
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input name="authenticity_token" type="hidden" value="uV/dlXiSmha2AdbSoO0R6fojOEPBqxabidgXEXjvW64=" />   
       
                    <input type="text" name="comment[name]" placeholder="姓名" />
                    <input type="text" name="comment[mobile_phone]" placeholder="手机号码, 11位" />
                    <textarea rows="3" name="comment[content]" placeholder="内容"></textarea>
                    <input type="submit" value="提交" />
                <% end %>
            </div>
        </div>
        <div class="row credits">
            <div class="span12">
                <div class="row social">
                    <div class="span12">
                        
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12">
                        © 2013 爱布斯.瑞信云科技版权所有.
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>